.search-container {
    position: relative;
    display: inline-block;
    width: 450px;
}

.poisk {
    width: 100%;
    padding: 15px 60px 15px 15px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 24px;
    outline: none;
    box-sizing: border-box;
}

.button-poisk {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    right: 7.5px;
    background: #007bff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-indent: -9999px;
    padding: 0;
}

.button-poisk:hover{
    animation: rotation 3s linear infinite;
}

@keyframes rotation {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}
  
.search-wrapper {
    margin-left: 45px;
}

