.login-container {
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    max-height: 500px;
    min-height: auto;
    z-index: 2;
    position: relative;
    border-radius: 10px;
    width: 400px;
  }
  
.login-container h2 {
    text-align: center;
    color: #3a9ad9;
    margin-bottom: 20px;
  }
  
.login-form {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
  }
  
.form-group {
    margin-bottom: 15px;
  }
  
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  

.login-page {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  min-height: calc(100vh - 71px);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 71px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-size: cover;
  filter: blur(10px);
  opacity: 0.5;
  z-index: -1;
}

.login-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.form-buttons .button {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  padding: 8px 15px;
  color: black;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 35px;
}

.form-buttons .button:hover {
  box-shadow: 1px 1px 18px 7px rgba(146, 148, 248, 3);
}

.form-buttons .button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 250ms;
}

.form-buttons .button:hover:before {
  left: 100%;
}

.register-button {
  border: 1px solid black;
}

.login-button {
  border: 1px solid black;
}

.login-container h2 {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin-bottom: 20px;
}